body {
    background: hsl(0, 0%, 97%);
    color: hsl(0, 0%, 7%);
    transition: background-color 800ms ease, color 800ms ease;
}

form input[type="checkbox"] {
    height: 1px;
    width: 1px;
    visibility: hidden;
}

form label[for="darkmodeToggle"] {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 1em;
    border: 1px solid lightgrey;
    border-radius: 1em;
    transition: background-color 800ms ease;
}

form label[for="darkmodeToggle"]::after {
    position: absolute;
    content: "";
    height: 0.9em;
    width: 0.9em;
    background-color: lightblue;
    border-radius: 50%;
    top: 0.0330rem;
    left: 0.0330rem;
    transition: background-color 800ms ease, transform 800ms ease;
}

input[type="checkbox"]:checked~label::after {
    background-color: darkblue;
    transform: translateX(34px)
}

input[type="checkbox"]:checked~label {
    background-color: lightblue;
}

body.darkmode {
    background-color: hsl(210, 7%, 27%);
    color: hsl(0, 7%, 86%);
}